@keyframes BounceUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}


.Animate-updown {
  animation: BounceUpDown 1s linear infinite
}

.Title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.Fill {
  height: 100%;
  width: 100%;
}

.Fill--height {
  min-height: 100vh;
}

.Fill--width {
  width: 100vw;
}

.Container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.u-background {
  background-color: #2196F3;
}

.Profile-Icon {
  border-radius: 50%;

  width: 60%;

  border-style: solid;
  border-color: white;
  border-width: thick;
}

.Profile-Text {
  color: white;
}

.Icon {
    border-radius: 50%;
    margin: 10px;

    width: 50px;
    height: 50px;
}
